@charset "utf-8";
:root {
    --size: 80;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.timerFields{
    width: 100px;
    height: 60px;
    font-size: 40px;
    background: #ffffff38;
    border: transparent;
    border-radius: 5px;
    color: #3e94bc;
    margin-left: 20px;
    
}
.timerOnly {
    display: none;

}
.container{
    position: relative;
    background-color: transparent;
    opacity: .9;
    min-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}


.timerControl {
    width: fit-content;
    font-family: 'Roboto mono',monospace;
    color: #3e94bc;
    font-size: 40px;
    margin:  10px auto 4vh;
    border-radius: 5px;
}
.timerDisplay{
    position: relative;
    background: rgba(253, 84, 0, 0.5);
    width: fit-content;
    margin:auto;
    padding: 40px 30px;
    font-family: 'Roboto mono',monospace;
    color: #3e94bc;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(253, 84, 0,.85);
}
.buttons{
    width: 60%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.buttons button{
    height: 7.5vh;
    padding: 0px 20px;
    width: 80%;
    min-height: 100px;
    background-color: #20c997;
    color: #ffffff;
    border: none;
    font-family: "Roboto mono", monospace;
    font-size: 60px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .25s;
    opacity: .7;
}
.buttons button:hover, #countdownButton:hover {
    opacity: 1;
}
.buttons button:nth-last-child(1){
    background-color: #d23332;
    margin-left: 2.5%;
}
.buttons button:first-child{
    margin-right: 2.5%;

}
#content {
    background-color: #17005599;
    height: fit-content;
    min-height: 98vh;
    width: 98%;
    padding: 5vh;
    max-width: 1250px;
    margin: 1% auto;
    border-radius: 5px;

}
nav {
    display: flex;
    margin: 20px auto;
    height: 50px;
    width: fit-content;
    justify-content: center;
    background: #008aff;
    border-radius: 5px;
}
nav button {
    margin: auto;
    height: 100%;
    width: 100%;
    font-family: 'Roboto mono',monospace;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: larger;
    color: white;
}
nav button:hover {
    background: #e83e8c !important;
}
#clock {
    padding: 0 20px;
}
#stopwatch {
    background: #e83e8c;

}
body {
    margin: 0;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
img {
    display: block;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
}
.timerDisplay {
    text-align: center;
}

@media (max-width: 1245px){
    
    .container {
        margin-top: 20px;
        margin-bottom: -10px;
    }
    
}
@media (max-width: 600px){
    .container {
        margin: auto;
        min-width: 40vw;
    }
    .timerDisplay {
        font-size: 50px;

    }
    .buttons button {
        min-width: 40vw;
        font-size: 30px;
    }
}
